/* line 11, ../scss/styles.scss */
* {
  box-sizing: border-box;
}

/* line 15, ../scss/styles.scss */
html, body {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Space Mono", arial, sans-serif;
  overflow: none;
}

/* line 24, ../scss/styles.scss */
a {
  color: #000;
  text-decoration: none;
}

/* line 29, ../scss/styles.scss */
.mycanvas {
  background: transparent;
  width: 100%;
  height: 100%;
}

/* line 35, ../scss/styles.scss */
.circle {
  background: #fff;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  cursor: move;
}

/* line 45, ../scss/styles.scss */
.branding {
  font-size: 2em;
}
/* line 48, ../scss/styles.scss */
.branding h1 {
  margin: 0 0 0 1em;
}
/* line 51, ../scss/styles.scss */
.branding h1 a {
  color: #000;
}
/* line 56, ../scss/styles.scss */
.branding.home-branding {
  background: #000;
}
/* line 59, ../scss/styles.scss */
.branding.home-branding h1 {
  color: #fff;
  margin: 0 0 0 0;
  line-height: 1em;
}

/* line 67, ../scss/styles.scss */
.pull-up {
  top: 0px;
}

/* line 71, ../scss/styles.scss */
.pull-down {
  bottom: 0px;
}

/* line 75, ../scss/styles.scss */
.absolute {
  position: absolute;
}

/* line 79, ../scss/styles.scss */
.fixed {
  position: fixed;
}

/* line 83, ../scss/styles.scss */
.difference {
  mix-blend-mode: difference;
}

/* line 87, ../scss/styles.scss */
.top {
  z-index: 9999;
}

/* line 91, ../scss/styles.scss */
.bottom {
  z-index: -9999;
}

/* line 95, ../scss/styles.scss */
.stretch-all {
  position: absolute !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  right: 0 !important;
}

/* line 103, ../scss/styles.scss */
.stretch-lr {
  left: 0px;
  right: 0px;
}

/* line 108, ../scss/styles.scss */
.fit-text {
  font-size: 12.3vw;
}

/* line 116, ../scss/styles.scss */
.container {
  width: calc(100vw - 200px);
  margin: 0px auto;
  display: table;
  margin-top: calc(50vh - 5vw);
}

/* line 124, ../scss/styles.scss */
footer {
  height: 10vh;
  color: #fff;
}

/* line 130, ../scss/styles.scss */
ul.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  width: 100%;
}
/* line 137, ../scss/styles.scss */
ul.nav li {
  display: inline-block;
  width: 18.25%;
  text-align: center;
}
/* line 143, ../scss/styles.scss */
ul.nav li a {
  background: #000;
  color: #fff;
  transition: all .28s linear;
}
/* line 149, ../scss/styles.scss */
ul.nav li a:hover {
  background: #fff;
  color: #000;
}

/* line 157, ../scss/styles.scss */
.content-frame {
  width: 100vw;
  height: 101vh;
  margin-top: -1vh;
}

/* line 163, ../scss/styles.scss */
.content-frame-listen {
  width: 50vw;
  height: 50vh;
  margin: 22vh 0 0 25vw;
}

/* line 169, ../scss/styles.scss */
.post-list {
  width: 100vh;
  max-width: 800px;
  margin: 18vh auto;
}

/* line 175, ../scss/styles.scss */
.post {
  margin-bottom: 10vh;
}

/* line 179, ../scss/styles.scss */
.tags {
  color: #999999;
}

/* line 183, ../scss/styles.scss */
.padding-2 {
  padding: 2em;
}

/* line 187, ../scss/styles.scss */
.no-mp {
  margin: 0;
  padding: 0;
}

/* line 193, ../scss/styles.scss */
.splash h1.branding {
  font-size: 4em;
  line-height: .95em;
  margin: 0 0 1em 0;
}
/* line 199, ../scss/styles.scss */
.splash.splash-reader {
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
/* line 206, ../scss/styles.scss */
.splash p strong {
  display: block;
  font-size: 1.5em;
}
/* line 212, ../scss/styles.scss */
.splash img {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: block;
}
