
	<footer class="top fixed stretch-lr pull-down">
		<ul class="nav">
			<li class="difference"><a href="/about">about</a></li>
			<li class="difference"><a href="/releases">release history</a></li>
			<li class="difference"><a href="http://www.bandcamp.com" target="_blank">listen/purcha$e</a></li>
			<li class="difference"><a href="/news">news</a></li>
		</ul>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="{{ site.url }}/js/plugins.js"></script>
	<script src="{{ site.url }}/js/scripts.js"></script>

</body>
</html>