
	<footer class="top fixed stretch-lr pull-down">
		<ul class="nav">
			<li class="difference"><a href="/about">#!</a></li>
			<li class="difference"><a href="/compendium">compendium</a></li>
			<li class="difference"><a href="/hear">hear</a></li>
			<li class="difference"><a href="/hold">hold</a></li>
			<li class="difference"><a href="/cream">cream</a></li>
		</ul>
	</footer>

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
	<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
	<script src="{{ site.url }}/js/plugins.js"></script>
	<script src="{{ site.url }}/js/scripts.js"></script>

</body>
</html>